<template>
  <div id="nav">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand to="/">Home</b-navbar-brand>
<b-navbar-brand to="/create" v-if="isLogin" >Create Post</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/about">About</b-nav-item>
          <!-- <a class="mine">lhzehl blog</a> -->
        </b-navbar-nav>
        
          
        
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">

          <b-nav-item-dropdown right v-if="isLogin">
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>{{ ownProfile.username || user }}</em>
            </template>
            <b-dropdown-item to="/profile">Profile</b-dropdown-item>
            <b-dropdown-item @click="logOut">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown right v-else>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>Auth</em>
            </template>
            <b-dropdown-item to="/authorization">Login</b-dropdown-item>
            <b-dropdown-item to="/registration">Register</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <router-view />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Navbar",
  computed: {
    ...mapGetters("auth", ["isLogin"]),
    ...mapGetters("profile", ["ownProfile"]),
  },
  methods: {
    logOut() {
      localStorage.removeItem("lhzehl-blog-t");
      localStorage.removeItem("ownProfile");
    },
  },
};
</script>

<style scoped>
.mine {
  color: darkgray;
}
</style>
